{% extends "base.html" %}

{% block title %}Connexion{% endblock title %}

{% block content %}
    <div id="register" class="left half">
        <h2>Register Now</h2>
        <a href="{% url "register-user" %}">Create new account</a>
    </div>
    <div id="connexion" class="right half">
        <h2>Connexion</h2>
        {% if form.errors %}<p>Invalid username or password</p>{% endif %}
        {% if next %}
            {% if user.is_authenticated %}
                <p>Access denied</p>
            {% else %}
                <p>Please authenticate to view this page</p>
            {% endif %}
        {% endif %}
        {% if form.errors %}{{ form.errors }}{% endif %}
        <form method="post" action="{% url 'login-user' %}">
            {% csrf_token %}
            <table>
                {% if message is not None %}
                    <tr class="message-error">
                        <td colspan="2">{{ message }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <td>{{ form.username.label_tag }}</td>
                    <td>{{ form.username }}</td>
                </tr>
                <tr>
                    <td>{{ form.password.label_tag }}</td>
                    <td>{{ form.password }}</td>
                </tr>
            </table>
            <input type="submit" value="login" />
            {% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
        </form>
    </div>
{% endblock content %}
