{% extends "base.html" %}

{% block title %}Registering{% endblock title %}

{% block content %}
    <div id="registration">
        <h2>Registration</h2>
        {% if form.errors %}{{ form.errors }}{% endif %}
        <form method="post" action="{% url "register-user" %}">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" value="Register"/>
            <a href="{% url "login-user" %}">Already have an account?</a>
        </form>
    </div>
{% endblock content %}
