{% extends "base_logged.html" %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block content %}
    <div id="user_search">
        <h2>Follow other users</h2>
        <form method="post" action="">
            {% csrf_token %}
            {{ add_follower_form.as_p }}
            {% comment %} <input type="search" name="username" value="" placeholder="username" required /> {% endcomment %}
            <input class="input input--confirm" type="submit" value="Follow" />
        </form>
        {% if form.errors %}
        {% include "partials/errors.html" with errors=form.errors.items %}
        {% endif %}
    </div>
    <div id="following">
        <h2>Following</h2>
        {% for user in users_followed %}
            <div class="user">
                <span class="username">{{ user.username|capfirst }}</span>
                <a class="input input--delete"
                   href="{% url "follow-delete" user.id %}">Unsubscribe</a>
            </div>
        {% endfor %}
    </div>
    <div id="followers">
        <h2>Followers</h2>
        {% for user in users_follower %}
            <div class="user">
                <a class="username" href="{% url "user-list" user.id %}">{{ user.username }}</a>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
