{% extends "base_logged.html" %}

{% block title %}{% if review %}Edit a{% else %}New{% endif %} review{% endblock title %}

{% block content %}
<div id="review_edit">
    <h2>{% if review %}Edit a {% else %}Create a new{% endif %} review</h2>

    {% if not forbidden %}
    {% if form.errors %}
        {% include "partials/errors.html" with errors=form.errors.items %}
    {% endif %}
    <form action="{%if not review %}{% url 'review-new' %}{% endif %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h3>Ticket</h3>
        <div class="review_edit__ticket{% if ticket %}--edit{% else %}--new{% endif %}">
            {% if ticket %}
            <p>You are answering the following ticket:</p>
            {% include "listings/partials/ticket.html" with ticket=ticket short_ticket=True %}
            <input type="hidden" name="ticketid" value="{{ ticket.id }}" />
            {% else %}
            {{ form_ticket }}
            {% endif %}
        </div>
        <h3>Review</h3>
        <div class="review_edit__review">
            {{ form }}
        </div>
        {% if next %}
        <input type="hidden" name="next" value="{{ next }}" />
        {% endif %}
        <a class="input input--cancel" onClick="javascript:history.go(-1);">Cancel</a>
        <input class="input input--save" type="submit" value="{% if ticket %}Save{% else %}Create{% endif %}" />
    </form>
    {% else %}
    {% include "partials/errors.html" with errors="You do not have the permission to edit this review." %}
    <a class="input input--cancel" href="{% url "home-user" %}">Home</a>
    {% endif %}
</div>

{% endblock content %}