body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 1.3em;
}

form input {
    font-size: 1em;
    margin: 0.2em 0;
    padding: 0.2em;
}

#navbar {
    background-color: rgb(78, 78, 78);
    color: rgb(151, 151, 151);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: fit-content;
    user-select: none;
}

#navbar > .navitem {
    color: white;
    padding: 1em;
    text-decoration: none;
}

#navbar > .navitem.navlogo {
    font-weight: bold;
    color: rgba(245, 245, 245, 0.9);
}

#navbar > .navitem.navlink:hover {
    background-color: rgb(0, 153, 255);
    border-radius: 0.3em;
    cursor: default;
}
#navbar > .navitem.navlink:active {
    box-shadow: inset 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.3);
}

#navbar > .navitem--logout {
    color: white;
    background-color: rgba(255, 0, 0, 0.532);
    border-radius: 0.3em;
    font-weight: bold;
    margin: 0 0.2em;
}

#navbar > .navitem:last-child:not(:first-child) {
    color: white;
    right: 1vw;
    position: absolute;
}

#navbar > .navitem.navitem--logout:hover {
    color: red;
    background-color: white;
}

#content_wrapper {
    overflow-y: auto;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

#content {
    min-width: 70vh;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

#content > * {
    /* border: 0.2em solid rgb(3, 222, 113); */
    /* border-radius: 0.5em; */
    margin: 0.5em 0;
    /* padding: 0.5em; */
    /* flex-grow: 1; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content > .user_posts {
}

#flux_links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0.5em 0;
    justify-content: space-evenly;
}

#flux_links > * {
    width: 45%;
    text-align: center;
}

#user_posts,
#flux_posts {
    display: block;
}

.ticket, .review {
    /* margin: 0.3em; */
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 0.3em;
    /* padding: 1em; */
    margin: 0.5em;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.ticket > *:not(:first-child) {
    padding-left: 1em;
    margin-top: 0.3em;
}

.review > *:not(:first-child) {
    padding-left: 1em;
    margin-top: 0.3em;
}

.ticket > *:nth-child(1),
.ticket > *:nth-child(2),
.review > *:nth-child(1),
.review > *:nth-child(2) {
    padding: 0.4em;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0,0,0,0.3);
    border-width: 0 0 1px 0;
    color: #484848;
}

.review__ticket {
    grid-column-start: 1;
    grid-column-end: 3;
}

.ticket__user, .review__user {
    font-weight: bold;
}

.user .username {
    font-weight: bold;
}

.user__link {
    color: inherit;
}

.ticket__date, .review__date {
    text-align: right;
}

.review__rating, .review__body {
    grid-column-start: 1;
    grid-column-end: 3;
}
.review__rating {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.review__rating::before {
    content: "Rating : ";
    font-weight: bold;
}
.review__rating > * {
    color: white;
    background-color: darkorange;
    font-style: normal;
    font: "DejaVu Sans", "Arial Unicode MS", sans-serif;
    width: 1.4em;
    height: 1.4em;
    text-align: center;
    vertical-align: middle;
    border-radius: 1.3em;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 0.03em;
    margin: 0.05em;
}
.review__rating > .emptystar {
    background-color: lightgrey;
}
.review__rating > *::before {
    content: "\2605";
}

.ticket__title::before {
    content: "Title : ";
    font-weight: bold;
}
.review__headline::before {
    content: "Headline : ";
    font-weight: bold;
}


.ticket__description, .review__description {
    grid-column-start: 1;
    grid-column-end: 3;
    padding-left: 2em;
}

.ticket__cover {
    display: flex;
    margin: 1em;
    grid-column-start: 1;
    grid-column-end: 3;
}
.ticket__cover .ticket__cover__image {
    object-fit: contain;
    max-width: 100%;
    max-height: 20vh;
}

.review__actions,
.ticket__actions {
    display: flex;
    flex-direction: row;
    grid-column-start: 1;
    grid-column-end: 3;
    justify-content: flex-end;
}

.review__actions .input,
.ticket__actions .input {
    font-size: 1.3em;
    display: flex;
    flex-direction: row;
    grid-column-start: 1;
    grid-column-end: 3;
    justify-content: flex-end;
}

.review__actions > form,
.ticket__actions > form {
    margin: 0.3em;
}

.ticket input,
.review input {
    font-weight: bold;
    border-color: transparent;
    border-radius: 0.2em;
}

input:hover {
    cursor: pointer;
}

input[type="submit"][value="Register"],
input[type="submit"][value="login"],
.button,
.input {
    cursor: pointer;
    box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.3);
    border-width: 0;
    border-radius: 0.2em;
    text-decoration: none;
    padding: 0.3em 0.4em;
    font-weight: bold;
    border-color: transparent;
    text-align: center;
}

input[type="submit"][value="Register"]:hover,
input[type="submit"][value="login"]:hover,
.button:hover,
.input:hover {
    box-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.3);
}

input[type="submit"][value="Register"]:active,
input[type="submit"][value="login"]:active,
.button:active,
.input:active {
    box-shadow: inset 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.3);
}

.input--cancel,
.input--delete {
    background-color: red;
    color: white;
}

.button--create,
.input--edit {
    background-color: rgb(0, 153, 255);
    color: white;
}

input[type="submit"][value="Register"],
input[type="submit"][value="login"],
.input--review,
.input--save,
.input--confirm {
    background-color: rgb(16, 215, 69);
    color: white;
}

.deleteform__buttons {
    margin: 0;
    display: flex;
    justify-content: flex-end;
    column-gap: 1em;
}

#errors {
    /* border-style: groove;
    border-width: 2px;;
    border-color: red;
    border-radius: 1em; */
    font-weight: bold;
    flex: 0 1;
    display: flex;
    margin: 0.2em 0;
}

#errors .error__category {
    display: grid;
    grid-template-columns: 1fr;
    background-color: rgb(190, 0, 0);
    border-radius: 0.3em;
    flex-direction: column;
}

#errors .error__category > * {
    padding: 0.4em;
}

#errors .error__name {
    background-color: rgba(110, 0, 0, 0.532);;
    color: whitesmoke;
    border-radius: 0.2em 0.2em 0 0;
}

#errors .error__name::after {
    content: " :";
}

#errors .error {
    display: flex;
    flex: 1 0;
    padding-left: 1em;
}

#errors .error__reason {
    border-radius: 1em;
    margin: 0.2em;
    color: white;
}
#errors .error__reason::before {
    content: "* ";
}

h2 {
    background-color: rgba(0, 153, 255, 1);
    color: white;
    font-weight: bold;

    width: 100%;
    text-align: center;
    padding: 0.8em;
    border-radius: 0.2em;
}

#user_search form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#user_search form > * {
    margin: 0 0.1em;
}

#user_search .helptext {
    display: none;
}

#connexion,
#registration {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;

    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid grey;
    min-height: 20vh;
    border-radius: 0.4em;
}

#connexion h2,
#registration h2 {
    padding: 0.8em 0;
    margin-top: 0;
    border-radius: 0.2em 0.2em 0 0;
}

#connexion form,
#registration form {
    display: grid;
    grid-gap: 0.2em 1em;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    margin: 1em;
}

#connexion br,
#registration br {
    display: none;
}

#connexion h2,
#registration h2,
#connexion .helptext,
#registration .helptext {
    grid-column-start: 1;
    grid-column-end: 3;
}

#connexion form label,
#registration form label {
    font-weight: bold;
}

#connexion form .helptext,
#registration form .helptext {
    padding-left: 2em;
    color: rgb(188, 0, 0);
    margin: 0.2em 0;
}
