{% load extras %}

<div class="review review{% if short_review %}--short{% endif %}">
    {% if user.id == review.user.id %}
    <span class="review__user">{% user_case review.user %} created a review</span>
    {% else %}
    <span class="review__user">
        User
        <a class="user__link" href="{% url "user-list" review.user.id %}">{% user_case review.user %}</a>
        created a review
    </span>
    {% endif %}
    <span class="review__date">{{ review.time_created|short_date }}</span>
    <span class="review__rating">
        {% for i in review.rating|times %}
        <i class="fullstar" aria-hidden="true"></i>
        {% endfor %}
        {% for i in 5|sub:review.rating|times %}
        <i class="emptystar" aria-hidden="true"></i>
        {% endfor %}
    </span>
    {% if review.headline %}
    <span class="review__headline">{{ review.headline }}</span>
    {% endif %}
    {% if review.body and not short_review %}
    <span class="review__body">{{ review.body }}</span>
    {% endif %}
    {% if review.ticket %}
    <div class="review__ticket">
        {% include "listings/partials/ticket.html" with ticket=review.ticket short_ticket=True %}
    </div>
    {% endif %}
    {% if review.user == user %}
    <div class="review__actions">
        <form action="{% url "review-edit" review.id %}" method="get">
            <input type="hidden" name="back" value="{{ request.path }}" />
            <input class="input--edit" type="submit" value="&#x1f589;" />
        </form>
        <form action="{% url "review-delete" review.id %}" method="get">
            <input type="hidden" name="back" value="{{ request.path }}" />
            <input class="input--delete" type="submit" value="&#x1f5d1;" />
        </form>
    </div>
    {% endif %}
</div>