{% load extras %}

<div class="ticket ticket{% if short_ticket %}--short{% endif %}">
    {% if user.id == ticket.user.id %}
    <span class="ticket__user">{% user_case ticket.user %} asked for a review</span>
    {% else %}
    <span class="ticket__user">
        User
        <a class="user__link" href="{% url "user-list" ticket.user.id %}">{% user_case ticket.user %}</a>
        asked for a review
    </span>
    {% endif %}
    <span class="ticket__date">{{ ticket.time_created|short_date }}</span>
    <span class="ticket__title">{{ ticket.title|title }}</span>
    {% if ticket.image %}
    <picture class="ticket__cover">
        <img class="ticket__cover__image" src="{{ ticket.image.url }}" alt="Cover of {{ ticket.title }} by {{ ticket.author }}" width="100%" height="100%" />
    </picture>
    {% endif %}
    {% if ticket.description %}
    <span class="ticket__description">{{ ticket.description }}</span>
    {% endif %}
    {% if not short_ticket %}
    <div class="ticket__actions">
        {% if not short_ticket %}
                <form action="{% url "review-new" %}" method="get">
                    <input type="hidden" name="ticketid" value="{{ ticket.id }}" />
                    <input class="input input--review" type="submit" value="&#x1f441;" />
                </form>
            {% if ticket.user == user %}
                <form action="{% url "ticket-edit" ticket.id %}" method="get">
                    <input class="input input--edit" type="submit" value="&#x1f589;" />
                </form>
                <form action="{% url "ticket-delete" ticket.id %}" method="get">
                    <input class="input input--delete" type="submit" value="&#x1f5d1;" />
                </form>
            {% endif %}
        {% endif %}
    </div>
    {% endif %}
</div>
